<html>
    <head>
        <title>Curriculo Online</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/estilo.css" />
    <head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.gif" width="120" height="35" alt="">
            </a>
            <div style="height: 4px; width: 1650px"></div>
            <div class="collapse navbar-collapse" id="navbarNav" style="float: right">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <hr NOSHADE style="height: 2px; margin-top: 30px;">