<%- include('header') %>
    <h2>Gerenciador de dados:</h2>
    <div>
        <ul>
            <li><a href="admin/users">Gerenciar usuario</a></li>
            <li><a href="admin/dados">Gerenciar dados pessoais</a></li>
            <li><a href="admin/academicos">Gerenciar dados acadêmico</a></li>
        </ul>
    </div>
<%- include('footer') %>