<html>
    <head>
        <title>Curriculo Online</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/estilo.css" />
    <head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.gif" width="120" height="35" alt="">
            </a>
            <div style="height: 4px; width: 1650px"></div>
            <div class="collapse navbar-collapse" id="navbarNav" style="float: right">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <hr NOSHADE style="height: 2px; margin-top: 30px;">
            <div class="header">
                <div style="height: 140px">
                    <img class="foto" src="/images/foto.jpg"/>
                    <div>
                        <h4>Moacyr Simplicio Santana Junior</h4>
                        Última atualização do currículo em 19/11/2019
                    </div>
                </div>
                <div>
                    <span class="lbl_topic">Resumo</span>
                    <hr>
                    resumo slçdkfaçsdfçalskdjfçlaksdjfçlaksdjfçlaksdjfçlaksdjfçlaksdjflsa
                </div>
            </div>
            <div class="content">
                <div class="lbl_topic">Nome civil</div>
                <hr>
                <p>Nome: </p>
                <div class="lbl_topic">Dados pessoais</div>
                <hr>
                <p>Nome: </p>
                <div class="lbl_topic">Formação acadêmica/titulação</div>
                <hr>
                <p>Nome: </p>
            </div>
        </div>
    </body>
</html>